.cartButton {
    position: absolute;
    height: 60px;
    width: 60px;
    top: 16px;
    left: 299px;
    background-color: black;
    border-radius: 50%;
    z-index: 98;
}

.cartIcon {
    width: 40px;
    height: 40px;
}

.cartCount {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8rem;
    font-weight: bold;
}
