.landingPageContainer {
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.landingImage {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
}

.landingLink {
    position: absoulte;
    top: 50%;
    left: 50%;
    transform: translateX(-50%, -50%);
    color: white;
    font-size: 1rem;
    text-decoration: none;
    display: none;
    z-index: 1;
}

.landingPageContainer:hover .landingLink {
    display: block;
}

.hoverText {
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}
