.order {
    height: 80%;
    background: rgba(229, 103, 78, 1);
    color: aliceblue;
    width: 375px;
    text-align: center;
}

.orderNr {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 3rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.orderStatus {
    margin-top: 3rem;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.3rem;
}

.timeHolder {
    margin-top: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    font-weight: 400;
}

.okBtn {
    margin-top: 3rem;
    width: 184px;
    height: 55px;
    background-color: white;
    border-radius: 50px;
    color: rgba(47, 41, 38, 1);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: 700;
}
