.cartContainer {
    padding: 1rem;
}

.cartList {
    list-style: none;
    padding: 0;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.quantity {
    margin: 0 0.5rem;
}

.totalPrice {
    font-weight: bold;
    margin-top: 1rem;
}

.orderButton {
    padding: 0.5rem 1rem;
    background-color: #503e9d;
    color: white;
    border: none;
    cursor: pointer;
}
